@model string

@{
    ViewData["Title"] = $"{ViewData["ActionName"]} for {ViewData["AnimalName"]}";
}

<h1>@ViewData["ActionName"] for @ViewData["AnimalName"]</h1>
<link rel="stylesheet" href="~/css/ActionresultsAnimals.css" />
<p>@Model</p>

<a asp-action="Index" class="btn btn-primary">Back to Animals</a>
