@model IEnumerable<string>

@{
    ViewData["Title"] = ViewData["Action"];
}

<h1>@ViewData["Action"] Results</h1>

<ul>
    @foreach (var result in Model)
    {
        <li>@result</li>
    }
</ul>

<a asp-action="Index" class="btn btn-primary">Back to Zoo</a>
