html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn {
  display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  text-decoration: none; 
  font-size: 14px;
  color: #333; 
  cursor: pointer;
  text-align: center;
}


.btn:hover {
  background-color: #e0e0e0; 
  color: #000; 
}


.action-buttons {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: start; 
}
body {
    background: url('image.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}